@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
body,
html {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container > span {
  margin-top: .5rem;
}

.game {
  background-color: beige;
  margin: 1rem;
  width: 500px;
  height: 500px;
}

.btn, .btn:focus {
  position: relative;
  border: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  outline: 0;
}

.btn:active  {
  transform: translateY(-1px);
}

.btn-shine {
  background-color: rgba(255,255,255,0.3);
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 5px;
  height: 5px;
  width: 10px;
}

.red { background: linear-gradient(lightcoral, #ff5050); }
.red:hover { background: #de4646; }
.red--active { box-shadow: 0 0 1rem lightcoral; }

.yellow { background: linear-gradient(#ffd700, #f7c500); }
.yellow:hover { background: #e1a900; }
.yellow--active { box-shadow: 0 0 1rem gold; }

.controls {
  display: flex;
  justify-content: space-around;
  width: 100px;
}

.controls__group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls__group > span {
  font-size: 10px;
  margin-top: .5rem;
}

.modal-backdrop {
  background-color: rgba(0,0,0,0.25);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal {
  background-color: white;
  border-radius: .5rem;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  position: absolute;
  z-index: 2;
  padding: 3rem;
  width: 200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.modal > button, button:focus {
  background-color: lightblue;
  border: 0;
  border-radius: .5rem;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  padding: .5rem;
  text-transform: uppercase;
  outline: 0;
}

.modal > button:hover {
  background-color: #89bbcb;
}