@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
body,
html {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container > span {
  margin-top: .5rem;
}

.game-container {
  position: relative;
}

.game-center {
  background: white;
  border-radius: 50%;
  position: absolute;
  width: 200px;
  height: 200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  margin: 1.5rem;
  width: 400px;
  height: 400px;
}

#green {
  background-color: #2ecc71;
  border-top-left-radius: 100%;
}

#red {
  background-color: lightcoral;
  border-top-right-radius: 100%;
}

#yellow {
  background-color: gold;
  border-bottom-left-radius: 100%;
}

#blue {
  background-color: lightskyblue;
  border-bottom-right-radius: 100%;
}

.score {
  background: #bec1bb;
  border: 2px solid #808080;
  padding: .5rem 1rem;
  border-radius: 30%;
}

.score > span {
  font-size: 1.5rem;
  color: #505050;
}

/* --- CONTROLS --- */
.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  width: 300px;
}

.controls__group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls__group > span {
  font-size: 10px;
  margin-top: .5rem;
}

/* --- CONTROL BUTTONS --- */
.btn, .btn:focus {
  position: relative;
  border: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-bottom: 6px;
  outline: 0;
}

.btn:active  {
  transform: translateY(-1px);
}

.btn-shine {
  background-color: rgba(255,255,255,0.3);
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 5px;
  height: 5px;
  width: 10px;
}

.switch-container {
  background: #f1f1f1;
  border-radius: 1rem;
  height: 20px;
  width: 50px;
  padding: 3px;
}

.switch {
  background: lightgray;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.move-switch-right {
  animation: .5s moveRight forwards;
  transition: all .2s ease-in;
}

.move-switch-left {
  animation: .5s moveLeft;
  transition: all .2s ease-in;
}

/* SWITCH ANIMATIONS */
@keyframes moveRight {
  0% {
    transform: translateX(0);
    background: lightgray;
  }
  100% {
    transform: translateX(150%);
    background: #2ecc71;
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(150%);
    background: #2ecc71;
  }
  100% {
    transform: translateX(0%);
    background: lightgray;
  }
}

/* CONTROL BUTTONS - COLORS */
.red { background: linear-gradient(lightcoral, #ff5050); }
.red:hover { background: #de4646; }
.red--active { box-shadow: 0 0 1rem red; }

.yellow { background: linear-gradient(#ffd700, #f7c500); }
.yellow:hover { background: #e1a900; }
.yellow--active { box-shadow: 0 0 1rem #ff9400; }

/* --- MODAL (WINNING SCREEN) --- */
.modal-backdrop {
  display: none;
  background-color: rgba(0,0,0,0.25);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal {
  background-color: white;
  border-radius: .5rem;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  position: absolute;
  z-index: 2;
  padding: 3rem;
  width: 200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.modal > button, button:focus {
  background-color: lightblue;
  border: 0;
  border-radius: .5rem;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  padding: .5rem;
  text-transform: uppercase;
  outline: 0;
}

.modal > button:hover {
  background-color: #89bbcb;
}